<p id="notice"><%= notice %></p>

<h2>Hotel Package Offers Database</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Hotel</th>
      <th>Chain</th>
      <th>City</th>
      <th>State</th>
      <th>Promo</th>
      <th>Offer</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @offers.each do |offer| %>
      <tr>
        <td><%= offer.hotelname %></td>
        <td><%= offer.hotelchain %></td>
        <td><%= offer.hotelcity %></td>
        <td><%= offer.hotelstate %></td>
        <td><%= offer.promocode %></td>
       <td><a href="<%= offer.offerurl %>"><%= offer.offertext %></a></td>
       <td><%= link_to 'Details', offer %></td>
             </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Offer', new_offer_path %>
