<p id="notice"><%= notice %></p>


<div class="row">

<div class="col-lg-6 col-lg-offset-3">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for Romance, Golf, Toledo, 99% off...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->                                    
</div>
<br>
<div class="panel panel-default">
  <!-- Default panel contents -->
 <div class="panel-heading"><h2>Find the perfect package for your next vacation</h2></div>


<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Hotel</th>
      <th>Chain</th>
      <th>City</th>
      <th>State</th>
      <th>Promo</th>
      <th>Offer</th>  
      <th>Link to Hotel Site</th>
    </tr>
  </thead>

  <tbody>
    <% @offers.each do |offer| %>
      <tr>
        <td><%= offer.hotelname %></td>
        <td><%= offer.hotelchain %></td>
        <td><%= offer.hotelcity %></td>
        <td><%= offer.hotelstate %></td>
        <td><%= offer.promocode %></td>
       <td><%= link_to offer.offertext, offer %></td>
 <td><a href="<%= offer.offerurl %>"><button type="button" class="btn btn-default btn-xs">Details</button></a></td>
             </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'New Offer', new_offer_path %>
