<p id="notice"><%= notice %></p>

<p>
  <strong>Hotelname:</strong>
  <%= @offer.hotelname %>
</p>

<p>
  <strong>Hotelchain:</strong>
  <%= @offer.hotelchain %>
</p>

<p>
  <strong>Hotelcity:</strong>
  <%= @offer.hotelcity %>
</p>

<p>
  <strong>Hotelstate:</strong>
  <%= @offer.hotelstate %>
</p>

<p>
  <strong>Promocode:</strong>
  <%= @offer.promocode %>
</p>

<p>
  <strong>Offerurl:</strong>
  <%= @offer.offerurl %>
</p>

<p>
  <strong>Offertext:</strong>
  <%= @offer.offertext %>
</p>

<p>
  <strong>Roomcategory:</strong>
  <%= @offer.roomcategory %>
</p>

<p>
  <strong>Offerbegindate:</strong>
  <%= @offer.offerbegindate %>
</p>

<p>
  <strong>Offerenddate:</strong>
  <%= @offer.offerenddate %>
</p>

<p>
  <strong>Travelbegindate:</strong>
  <%= @offer.travelbegindate %>
</p>

<p>
  <strong>Travelenddate:</strong>
  <%= @offer.travelenddate %>
</p>

<p>
  <strong>Dealphotourl:</strong>
  <%= @offer.dealphotourl %>
</p>

<p>
  <strong>Offerdetails:</strong>
  <%= @offer.offerdetails %>
</p>

<%= link_to 'Edit', edit_offer_path(@offer) %> |
<%= link_to 'Back', offers_path %>
