<p id="notice"><%= notice %></p>


<div class="row">

<div class="col-md-2">
<img src="<%= @offer.dealphotourl %>" width="175">
</div>

  <div class="col-md-8">




<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title"> <%= @offer.offertext %> <small>- <%= @offer.hotelname %></small></h1>
  </div>
  <div class="panel-body">
<p>
  <strong>Offer Details:</strong>
  <%= @offer.offerdetails %>
</p>

<p>
  <strong>Hotel Chain: </strong><%= @offer.hotelchain %><br> 
  <strong>Hotel: </strong><%= @offer.hotelname %><br>
  <strong>City: </strong><%= @offer.hotelcity %><br>
  <strong>State: </strong><%= @offer.hotelstate %><br>

  <strong>Promo Code: </strong>
  <%= @offer.promocode %><br>
 <strong>Offer Link</strong> - <%= link_to @offer.offerurl, @offer.offerurl %><br>
  <strong>Room Category: </strong><%= @offer.roomcategory %>
</p>



<p>

</p>



<%= link_to 'Edit', edit_offer_path(@offer) %> |
<%= link_to 'Back', offers_path %>

 </div>
</div>
</div>
</div>

